body,
p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    /* overflow-x: hidden; */
}

/* utility classes  */
.primarystyle {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
}

h1 {
    font-size: 45px;
    font-weight: 600;
    color: #ffffff;
    line-height: 55px;
}

h2 {
    font-size: 33px;
    font-weight: 600;
    color: black;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.links {
    border: 2px solid #00ffd0;
    background-color: #00ffd0;
    transition: 0.2s ease-in-out;
}

.hoverlinks:hover {
    background-color: #ffffff;
    color: #00ffd0;
    border: 2px solid #00ffd0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar coding here  */
.mainhead {
    background-color: white !important;
}

.mynavbar {
    margin: 0px !important;
    padding: 0px !important;
}

.navcontainer {
    width: 70rem !important;
    display: flex !important;
    justify-content: space-between !important;
    text-align: center !important;
}

li a {
    color: black !important;
    margin-left: 0.1rem !important;
    margin-right: 0.2rem !important;
    padding-top: 1rem !important;
    font-weight: 700 !important;
}

.logoimg {
    max-width: 70%;
}

.list:hover {
    color: #32dab3 !important;
}

.pricenavstyle {
    background-color: #32dab3;
    color: white !important;
    border-radius: 22px;
    max-width: 100%;
    padding: 8px 20px !important;
    border: 1px solid #32dab3 !important;
    font-weight: 600;
}

.pricenavstyle:hover {
    background-color: white;
    color: #32dab3 !important;
}

.itemstylelist {
    justify-content: right;
}

/* first div video box coding start  */
.before {
    z-index: -1;
    background-color: blueviolet;
    background-image: linear-gradient(to bottom right, #7733e5, #e34dfe);
    background-size: 100% 100%;
}

.item1 {
    text-align: center;
}

.item {
    border: 2px solid black;
    /* max-width: 100%; */
}

.foraligncenter {
    display: inline-block;
    max-width: 60%;
    color: white;
    font-weight: bolder;
    margin: 30px 0;
}

.contentbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
}

.video1 {
    display: block;
    position: relative;
    /* margin-bottom: 70px; */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.content {
    max-width: 45%;
    /* align-self: flex-end; */
    color: white;
    font-weight: 900;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #00ffd0;
    padding: 4px;
    background-color: white;
    border-radius: 27px;
    width: 400px;
}

.email input {
    width: 250px;
    border: 0px;
    border-radius: 27px;
}

.email button {
    width: 150px;
    border-radius: 27px;
    border: 2px solid #00ffd0;
    background-color: #00ffd0;
    transition: 0.3s ease-in-out;
}

/* 2nd section start here  */
.secondpart {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content2 {
    text-align: center;
    justify-content: center;
    max-width: 60%;
    margin-top: 5rem;
}

.content3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.column1 {
    max-width: 28%;
    padding: 25px;
    height: 300px;
    border: 2px solid rgb(237, 236, 236);
}

/* 3rd section wavey starts here  */
#curveybg {
    content: "";
    background-image: url(../images/gray-background-1-scaled.jpg) !important;
    background-repeat: no-repeat !important;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-size: 100% 100%;
}

.wave {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.content4 {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 5px;
    max-width: 60%;
}

.image1 img {
    max-width: 40%;
}

.he1 {
    position: absolute;
    margin-top: -665px;
    margin-left: 175px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.hr1 {
    position: absolute;
    margin-top: -650px;
    margin-left: 300px;
    border-bottom: 2px solid black;
    width: 50px;
    text-align: left;
}

.he2 {
    position: absolute;
    margin-top: -670px;
    margin-left: 850px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.hr2 {
    position: absolute;
    margin-top: -665px;
    margin-left: 490px;
    border-bottom: 2px solid black;
    width: 350px;
    text-align: right;
}

.he3 {
    position: absolute;
    margin-top: -260px;
    margin-left: 170px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.hr3 {
    position: absolute;
    margin-top: -250px;
    margin-left: 290px;
    border-bottom: 2px solid black;
    width: 125px;
    text-align: left;
}

.he4 {
    position: absolute;
    margin-top: -48px;
    margin-left: 150px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.hr4 {
    position: absolute;
    margin-top: -40px;
    margin-left: 260px;
    border-bottom: 2px solid black;
    width: 150px;
}

.he5 {
    position: absolute;
    margin-top: -100px;
    margin-left: 830px;
    text-align: left;
    max-width: 12%;
    font-size: 18px;
    font-weight: bold;
}

.hr5 {
    position: absolute;
    margin-top: -90px;
    margin-left: 710px;
    border-bottom: 2px solid black;
    width: 110px;
}

.content5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 100%;
    margin: 50px 0;
}

.column2 {
    max-width: 40%;
    padding: 30px;
    margin: 0px 1rem;
    height: 300px;
    border: 1px solid rgb(200, 198, 198);
    background-color: #ffffff;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* coding for before square block icon  */
.content5 .row2 .block1 h3::before {
    content: "";
    border: 10px solid #213b54;
    width: 8px;
    height: 1px !important;
    position: absolute;
    /* left: 0; */
    margin-top: 4px;
    margin-left: -25px;
}

.content5 .row2 .block2 h3::before {
    content: "";
    border: 10px solid #565448;
    width: 8px;
    height: 1px !important;
    position: absolute;
    /* left: 0; */
    margin-top: 4px;
    margin-left: -25px;
}

.content5 .row2 .column2 a {
    text-decoration: none;
    background-color: #00ffd0;
    padding: 15px 35px;
    border: 2px solid #00ffd0;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.content5 .row2 .column2 a:hover {
    background-color: #ffffff;
    color: #00ffd0;
}

/* compaign decision engine section3 starts here  */
.imagespart {
    margin-top: 20px;
}

.sec4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.content6 {
    max-width: 60%;
    align-self: center;
    margin-bottom: 25px;
}

.content7 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 8px;
    max-width: 100%;
}

.content7 img {
    max-width: 20%;
    max-height: 5%;
}

/* section 3rd images coding start here  */
.main {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.imgleft {
    margin-top: 1rem;
    text-align: left;
    max-width: 40%;
}

.imgleft::after {
    content: "";
    border-right: 3px solid black;
    height: 35rem;
    position: absolute;
    margin-top: -608px;
    margin-left: 479px;
}

.leftimg1::after {
    content: "";
    border-bottom: 3px solid black;
    width: 2rem;
    position: absolute;
    margin-top: 2rem;
}

.leftimg2::after {
    content: "";
    border-bottom: 3px solid black;
    width: 2rem;
    position: absolute;
    margin-top: 2rem;
}

.leftimg3::after {
    content: "";
    border-bottom: 3px solid black;
    width: 2rem;
    position: absolute;
    margin-top: 2rem;
}

.leftimg4::after {
    content: "";
    border-bottom: 3px solid black;
    width: 2rem;
    position: absolute;
    margin-top: 2rem;
}

.leftimg5::after {
    content: "";
    border-bottom: 3px solid black;
    width: 2rem;
    position: absolute;
    margin-top: 2rem;
}

.leftimg6::after {
    content: "";
    border-bottom: 3px solid black;
    width: 2rem;
    position: absolute;
    margin-top: 2rem;
}

.imgleft img {
    max-width: 100%;
}

.imgcentre {
    height: 15rem;
    max-width: 12%;
    margin-top: 5rem;
}

.imgcentre::before {
    content: "";
    border-bottom: 3px solid black;
    width: 1.7rem;
    position: absolute;
    margin-top: 4.3rem;
    margin-left: -1.6rem;
}

.imgcentre::after {
    content: "";
    border-bottom: 3px solid black;
    width: 3.5rem;
    position: absolute;
    margin-top: -10rem;
    margin-left: 4rem;
}

.imgcentre img {
    max-width: 100%;
}

.para {
    background-color: rgb(224, 221, 221);
    width: 6rem;
    height: 6rem;
    text-align: left;
    justify-content: center;
    padding: 10px;
    align-self: center !important;
    margin-left: 1.5rem;
}

.imgright {
    margin-top: 3rem;
}

.imgright img {
    width: 300px;
}

.lastdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 40px 0;
}

.linkbtn {
    margin-top: 2rem !important;
}

.linkbtn a {
    border: 2px solid #00ffd0;
    border-radius: 36px;
    background-color: #00ffd0;
    padding: 15px 32px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
    width: 25rem;
    color: black !important;
    text-decoration: none !important;
    letter-spacing: 1.3px;
    transition: 0.3s ease-in-out;
}

.linkbtn a:hover {
    color: #00ffd0 !important;
    background-color: #ffffff;
}

/* blue background section start here  */
.bluebg {
    content: "";
    background-image: url(../images/product-tour-purple-background.jpg) !important;
    background-repeat: no-repeat !important;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    background-size: 100% 100%;
}

.mainblue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
}

.pro {
    max-width: 70%;
    align-self: center;
}

.pro h2 {
    color: white !important;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imgcontentmain {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.imag {
    max-width: 50%;
}

.imag img {
    max-width: 100%;
}

.content8 {
    max-width: 40%;
    margin-top: 4rem;
    padding: 0 3rem;
    color: white;
    font-size: large;
    text-align: left;
}

.content8 ul li {
    list-style: disc;
}

/* markeeting tool section start here  */
.toolsection {
    border-bottom: 2px solid rgb(192, 190, 190);
}

.mainmarketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.tool {
    max-width: 65%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imgtoolcontentmain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 90%;
}

.imagtool img {
    max-width: 100%;
}

.content9 {
    margin-top: 4rem;
    padding: 0 5rem;
    font-size: large;
}

/* animated content section starts here  */

.mainanimated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.animated {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 60%;
}

.imganimatedcontent {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.imaganimate {
    max-width: 50%;
}

.imaganimate img {
    max-width: 100%;
}

.content10 {
    max-width: 50%;
    margin-top: 4rem;
    padding: 0 2rem;
    font-size: large;
}

.content10 ul li {
    list-style: disc;
}

.visitpage {
    border: 3px solid #7733e5;
    box-shadow: -10px 10px #7733e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: 15rem;
    margin-bottom: 1rem;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    height: 10rem;
}

.inner-content-visit-page {
    font-size: 18px;
    text-align: center;
}

.btnlink {
    background-color: #00ffd0;
    width: 12rem;
    padding: 0.75rem 1rem;
    border: 2px solid #00ffd0;
    border-radius: 28px;
    text-align: center;
    margin-top: 2rem;
}

.btnlink a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.btnlink a:hover {
    text-align: center;
    text-decoration: none;
    color: #00ffd0;
}

.btnlink:hover {
    background-color: white;
    width: 12rem;
    padding: 0.75rem 1rem;
    border: 2px solid #00ffd0;
    border-radius: 28px;
    text-align: center;
    margin-top: 2rem;
}

/* sms compaign ection starts here  */
#smscompaigns {
    content: "";
    background-image: url(../images/gray-background-1-scaled.jpg) !important;
    background-repeat: no-repeat !important;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    background-size: 100% 100%;
}

.compaignsmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.content11 {
    max-width: 60%;
    font-weight: 600;
}

.btnlink {
    font-weight: bold;
    margin-bottom: 2rem;
    transition: 0.3s ease-in-out;
}

.imgsms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.left-before::before {
    content: "";
    position: absolute;
    background-image: url(../images/text-bubble-left.png);
    background-size: 100% 100%;
    width: 260px;
    height: 160px;
    padding: 5px;
    z-index: -1;
    margin-left: -70px;

}

.leftimg {
    width: 200px;
    height: 100px;
    z-index: +1;
    margin-top: -200px;
    margin-right: 10px;
}

.leftimg .para1 {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 8px;
    color: white;
    font-weight: 600;
    margin-left: 40px;
}

.mobilegif img {
    max-width: 80%;
}

.rightimg {
    width: 340px;
    height: 200px;
    z-index: +1;
    margin-left: -110px;
    margin-top: 80px;
}

.right-after::before {
    content: "";
    position: absolute;
    background-image: url(../images/text-bubble-right.png);
    background-size: 100% 100%;
    width: 340px;
    height: 200px;
    padding: 5px;
    z-index: -1;
    margin-left: -195px;
}

.rightimg .para1 {
    position: absolute;
    width: 200px;
    height: 100px;
    padding-top: 8px;
    color: white;
    font-weight: 600;
    margin-left: 100px;
}

/* bulletproof experience every time section starts here  */
.bulletproof {
    border-bottom: 2px solid rgb(200, 198, 198);
}

.bulletproofmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.content12 {
    max-width: 60%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.buletproogimage {
    text-align: center;
    max-width: 100%;
}

.buletproogimage img {
    max-width: 50%;
}

/* mokups section starts here  */
.maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.content13 {
    max-width: 60%;
    text-align: center;
}

.for-mobile img {
    display: none;
}

.mainmokups {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.mokupheight img {
   max-width: 70%;
}

.mokupemailheight img {
    max-width: 70%;
}

.mokupwebheight img {
    max-width: 70%;
}

/* help section starts here  */
.bluebg2 {
    content: "";
    background-image: url(../images/product-tour-blue-background.jpg);
    background-repeat: no-repeat;
    margin-top: 2rem;
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.mainhelp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 7rem;
}

.help {
    /* width: 49rem; */
    max-width: 69%;
    text-align: center;
    margin-bottom: 3rem;
}

.help h3 {
    color: white;
}

.help p {
    font-size: 20px;
    color: white;
}

.imgcontentmainhelp {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly !important;
    max-width: 70%;
}

.content14 {
    color: white;
    text-align: left;
    max-width: 100%;
}
.content14 ul li{
    list-style: disc;
}
.imaghlp{
    max-width: 50%;
}
.imaghlp img {
    max-width: 80%;
}

/* last heading enganging content section start here  */
#enganging {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontentengange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    max-height: 45%;
    text-align: center;
    padding: 40px 10px 20px 10px;
    border: 3px solid #7733e5;
    box-shadow: -10px 10px #7733e5;
}

.btnlink1 {
    background-color: #00ffd0;
    width: 12rem;
    padding: 0.75rem 2rem;
    border: 2px solid #00ffd0;
    border-radius: 28px;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btnlink1:hover {
    background-color: white;
    color: #00ffd0;
}

/* footer starts here  */
footer {
    background-color: #f7f7f7;
}

.footercontent {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 50px;
    max-width: 100%;
}

.column-width {
    width: 150px;
}

.imglogo img {
    max-width: 40%;
}

.footerlink {
    text-decoration: none;
    font-weight: 100 !important;
    font-size: 14px;
}

ul li {
    list-style: none;

}

ul li a:hover {
    color: #00ffd0 !important;

}

ul {
    font-size: 16px !important;
    font-weight: 600;
}

.outerdiv1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between !important;
    max-width: 30%;
}

.outerdiv2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
    max-width: 100%;
}

.logolist {
    display: flex;
    text-align: left;
    width: 290px;
    margin-bottom: 130px;
}

.widgets {
    width: 290px;

}

.widgets ul {
    display: flex;
    flex-direction: row !important;
    text-align: left;
    justify-content: space-between;
    width: 150px;
}

/* subfooter starts here  */
.outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.sub {
    border: 2px solid #00ffd0;
    border-radius: 30px;
    padding: 6px;
}

.sub input {
    border: 0px;
    padding: 5px;
    background-color: #f7f7f7;
}

.sub button {
    border: 2px solid #32dab3;
    background-color: #32dab3;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.sub button:hover {
    border: 2px solid #3232A1;
    background-color: #ffffff;
    color: #3232A1;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
}

.lastimg img {
    width: 80px;
}

/* end footer starts here  */
.outerbox {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    gap: 50px;
    padding: 20px 0;
}

.innertxt2 {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    gap: 50px;
    padding: 20px 0;
}

.innertxt1 {
    padding: 20px 0;
}

.innertxt {
    color: #bab6b6;
}